:root {
    --white-color: #ffffff82;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #276b97;
}
.main__section,
.contact {
    height: 100vh;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15%;
    background-image: linear-gradient(0, #276b97 0, #1b4d6d 50%, #00356d 100%);
}
.contact__us {
    color: var(--white-color);
    border-left: 1px solid var(--white-color);
    padding: 10px 50px 10px 5px;
    font-size: 1.2rem;
    z-index: 10;
    cursor: pointer;
    transition: all 1s ease;
}
.contact__us:hover {
    color: #fff;
    border-left: 1px solid #fff;
}

.main__logo {
    width: 100%;
    position: relative;
    top: -20%;
    left: 0px;
    z-index: 0;
}

.contact {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "cabeza cabeza cabeza"
        "phone adress email";
    color: #fff;
    text-align: center;
    background-image: linear-gradient(
        180deg,
        #276b97 0,
        #1b4d6d 50%,
        #00356d 100%
    );
}
.contact__title {
    grid-area: cabeza;
    font-size: 2rem;
    font-weight: 400;
    color: var(--white-color);
}
.contact__phone {
    grid-area: phone;
}
.contact__phone img {
    width: 100px;
}
.contact__adress {
    grid-area: adress;
}
.contact__email {
    grid-area: email;
}
.phone__title,
.adress__title,
.email__title {
    font-size: 2rem;
    font-weight: 400;
}
.logos {
    width: 50px;
}
.logos__adress {
    width: 70px;
}
.info {
    font-size: 1.2rem;
}
.map {
    height: 80vh;
    background-image: linear-gradient(
        180deg,
        #00356d 0,
        #0f2c3d 50%,
        #081822 100%
    );
    padding-top: 100px;
}
.mapa {
    width: 60%;
    height: 80%;
    margin: auto;
}
.footer {
    padding: 1rem 0;
    text-align: center;
    color: var(--white-color);
    background-image: linear-gradient(
        180deg,
        #081822 0,
        #061219 50%,
        #000000 100%
    );
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-image: linear-gradient(
        180deg,
        #276b97 0,
        #00356d 30%,
        #0f2c3d 50%,
        #081822 75%,
        #000000 100%
    );
}

body::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border-radius: 20px;
}
